* {
  box-sizing: border-box;
  font-family: -apple-system, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.heading-4 {
  font-size: 25px;
  font-weight: 500;
  color: #4E545B;
  padding: 10px 20px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a7a7a7;
}

::-webkit-scrollbar-thumb {
  background-color: #979797;
  border-radius: 0px;
}

.container__app .box_layout_body {
  height: auto;
}
.container__app .box_layout_body .tr_line_flex {
  display: flex;
}
.container__app .box_layout_body .layout_menu {
  position: relative;
}
.container__app .box_layout_body .layout_body {
  width: 100%;
  padding: 60px 0px 0px 258px;
}

.container__header {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  border-bottom: 1px solid #E7ECF0;
  z-index: 10;
}
.container__header .tr__header {
  height: 100%;
  padding: 5px 10px;
}
.container__header .tr__header .flex__line {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__header .tr__header .flex__line .box_search {
  height: 35px;
}
.container__header .tr__header .flex__line .box_search svg {
  color: #6b6b6b;
  font-size: 19px;
}
.container__header .tr__header .flex__line .box__control {
  height: 100%;
  display: flex;
  align-items: center;
}
.container__header .tr__header .flex__line .box__control > div {
  margin-left: 20px;
}
.container__header .tr__header .flex__line .box__control .btn__noti {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #6b6b6b;
  position: relative;
}
.container__header .tr__header .flex__line .box__control .btn__noti .length__noti svg {
  position: absolute;
  font-size: 35px;
  color: red;
  top: -15px;
  left: 8px;
}
.container__header .tr__header .flex__line .box__control .border__account {
  width: 40px;
  height: 40px;
  border: 2px solid #aaaaaa;
  border-radius: 100%;
  padding: 1px;
  position: relative;
}
.container__header .tr__header .flex__line .box__control .border__account .btn_dropdown {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.container__header .tr__header .flex__line .box__control .border__account .btn_dropdown img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container__header .tr__header .flex__line .box__control .border__account .box__drop--account {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: #ffffff;
  border: 1px solid #cecece;
  border-radius: 10px;
  box-shadow: 3px 2px 8px 0 rgba(0, 0, 0, 0.1725490196);
}
.container__header .tr__header .flex__line .box__control .border__account .box__drop--account .pd__select {
  padding: 8px;
}
.container__header .tr__header .flex__line .box__control .border__account .box__drop--account .pd__select::after {
  background-color: #fff;
  border: 1px solid rgba(221, 212, 218, 0.9921568627);
  border-bottom: none;
  border-radius: 15px;
  border-radius: 0;
  border-right: none;
  box-shadow: none;
  content: "";
  height: 15px;
  position: absolute;
  right: 11px;
  top: -8px;
  transform: rotate(45deg);
  width: 15px;
}
.container__header .tr__header .flex__line .box__control .border__account .box__drop--account .item_btn_control {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: left;
  padding: 10px 12px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.35s;
  border-radius: 10px;
  margin: 10px 0px;
}
.container__header .tr__header .flex__line .box__control .border__account .box__drop--account .item_btn_control:hover {
  background-color: #e9e9e9;
}
.container__header .tr__header .flex__line .box__control .border__account .box__drop--account .item_btn_control > svg {
  margin-right: 15px;
  margin-left: 10px;
  font-size: 24px;
}
.container__header .tr__header .flex__line .box__control .border__account .active_drop_box {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s ease;
  visibility: visible;
}
.container__header .tr__header .flex__line .box__control .border__account .unactive_drop_box {
  opacity: 0;
  transform: translateY(-8px);
  transition: 0.2s ease;
  visibility: hidden;
}

.container__menu {
  width: 260px;
  background-color: #fff;
  border-right: 1px solid #E7ECF0;
  position: fixed;
  left: 0px;
  z-index: 9999;
}
.container__menu .img__logo {
  text-align: center;
  padding: 8px 0px;
}
.container__menu .img__logo img {
  width: 130px;
}
.container__menu .wrap__menu {
  padding: 10px 0px;
  height: 100vh;
  overflow: auto;
  padding-bottom: 100px;
}
.container__menu .wrap__menu .flex__box {
  display: flex;
  flex-direction: column;
}
.container__menu .wrap__menu .flex__box .item_menu_a {
  justify-content: left;
  padding: 15px 15px;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #ffffff;
  transition: all 0.35s;
  margin: 6px 10px;
  color: #383838;
}
.container__menu .wrap__menu .flex__box .item_menu_a > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__menu .wrap__menu .flex__box .item_menu_a svg {
  margin-right: 15px;
  margin-left: 10px;
  font-size: 20px;
}
.container__menu .wrap__menu .flex__box .item_menu_a .icon_active_sub {
  color: #797878;
  transition: transform 0.4s;
}
.container__menu .wrap__menu .flex__box .item_menu_a .active_icon {
  transform: rotate(90deg);
}
.container__menu .wrap__menu .flex__box .item_menu_a .active_icon > svg {
  color: #000000 !important;
}
.container__menu .wrap__menu .flex__box .item_menu_a .unactive_icon {
  transform: rotate(0deg);
}
.container__menu .wrap__menu .flex__box .item_menu_a:hover {
  background-color: #e9e9e9;
}
.container__menu .wrap__menu .flex__box .box_sub_menu_item {
  overflow: hidden;
  transition: height 0.25s;
}
.container__menu .wrap__menu .flex__box .box_sub_menu_item .sub_menu_item {
  display: block;
  background-color: #f7f7f7;
  padding: 10px 0px;
  padding-left: 30px;
  color: #000000;
  font-weight: 500;
  font-size: 17px;
  transition: all 0.35s;
  border-bottom: 1px solid #ececec;
  color: #494949;
  margin: 0px 10px !important;
}
.container__menu .wrap__menu .flex__box .box_sub_menu_item .sub_menu_item:hover {
  background-color: #dadada;
}
.container__menu .wrap__menu .flex__box .box_sub_menu_item .sub_menu_item.active {
  background-color: #d4d3d3;
  color: #000000;
}
.container__menu .wrap__menu .flex__box .item_menu_a.active {
  background-color: #e9e9e9;
  color: #000000;
}

.component__input > label {
  font-size: 18px;
  font-weight: 500;
  color: #282c52;
  display: block;
}
.component__input .line__input {
  position: relative;
  height: 45px;
  margin: 5px 0px;
  border: 1px solid #cecece;
  border-radius: 5px;
}
.component__input .line__input > input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 40px;
}
.component__input .line__input .icon__before {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component__input .line__input .icon__before > svg {
  font-size: 25px;
  color: #282c52;
  margin: 0px 5px;
  color: #006fee;
}

.tr__line--capcha {
  display: flex;
  width: 100%;
}
.tr__line--capcha > div:first-child {
  flex: 3;
}
.tr__line--capcha > div:last-child {
  flex: 7;
}
.tr__line--capcha .set_width {
  margin-left: 10px;
}
.tr__line--capcha .set_width .icon__before {
  background-color: #e7ecf0;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.ReactModal__Content .modal__title {
  font-size: 30px;
  font-weight: bold !important;
}

.container__login {
  width: 100%;
  position: relative;
}
.container__login .header__box_introduce {
  width: 100%;
  height: 80px;
  background-color: red;
}
.container__login .flex__layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.container__login .flex__layout > div {
  width: 100%;
}
.container__login .flex__layout .box__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__login .flex__layout .box__form .footer__form {
  text-align: center;
}
.container__login .flex__layout .box__form .footer__form > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container__login .flex__layout .box__form .footer__form .text_heading_prt {
  display: none;
}
.container__login .flex__layout .box__form .footer__form .img_intro {
  display: none;
}
.container__login .flex__layout .box__form .set__size__header {
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 1px solid #c6c6c6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__login .flex__layout .box__form .form_group {
  max-width: 500px;
  height: 100%;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__login .flex__layout .box__form .form_group form > div {
  margin-bottom: 10px;
}
.container__login .flex__layout .box__form .form_group .heading_text--login {
  font-size: 27px;
  font-weight: 600;
  margin: 10px 0px;
  text-align: center;
}
.container__login .flex__layout .box__form .form_group .tr__flex {
  display: flex;
  justify-content: space-between;
}
.container__login .flex__layout .box__form .form_group .tr__flex .check__box--remb {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  color: #282c52;
}
.container__login .flex__layout .box__form .form_group .tr__flex .check__box--remb > input {
  margin-right: 5px;
}
.container__login .flex__layout .box__form .form_group .tr__flex .btn_prm_password {
  color: #006fee;
}
.container__login .flex__layout .box__form .form_group .btn__submit--login {
  width: 100%;
  display: block;
  background-color: #006fee;
  padding: 12px 0px;
  border: none;
  margin: 20px 0px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.container__login .flex__layout .box__form .form_group .btn__submit--login:hover {
  background-color: #0153b1;
}
.container__login .flex__layout .box_intro .width__img--intro {
  width: 100%;
  height: 100%;
  position: relative;
}
.container__login .flex__layout .box_intro .width__img--intro > img {
  width: 100%;
  height: 100%;
}
.container__login .flex__layout .box_intro .width__img--intro .box_text_present {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 50px;
}
.container__login .flex__layout .box_intro .width__img--intro .box_text_present .text_heading_prt {
  font-size: 34px;
  font-weight: 700;
}

.pageHome {
  padding: 10px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f5f5f5;
  display: grid;
  flex-direction: 1.3fr 1.7fr;
  gap: 10px;
  min-height: calc(100vh - 60px);
}
.pageHome .container__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.content {
  border-top: 1px solid #E7ECF0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container__chart,
.container__info {
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(194, 193, 193);
}

.container__info .content .info__avatar {
  position: relative;
}
.container__info .content .info__avatar-upload {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container__info .content .info__avatar-upload #input__file {
  display: none;
}
.container__info .content .info__avatar-upload .label__input {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 185px;
  font-size: 40px;
  border-radius: 100%;
  color: #E7ECF0;
}
.container__info .content .info__avatar-upload .label__input:hover {
  cursor: pointer;
  background-color: #000;
  opacity: 0.4;
}
.container__info .content .info__avatar-image {
  border-radius: 100%;
  width: 185px;
  height: 185px;
}
.container__info .content .info__text .line {
  height: 35px;
  display: flex;
  align-items: center;
  gap: 0px 5px;
}
.container__info .content .info__text .line p {
  font-weight: 700;
  color: #4E545B;
}

.container__chart .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.container__chart .content .chart__graph {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__chart .content .chart__sub .subchart__item {
  display: flex;
  gap: 10px;
  margin: 20px 0px;
}
.container__chart .content .chart__sub .subchart__item .sub {
  font-weight: 500;
}

.container__center {
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(194, 193, 193);
}

.pageNews {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.container__item {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  padding: 15px 0px;
  gap: 20px;
  border-bottom: 1px solid #E7ECF0;
}
.container__item .left__item {
  text-align: center;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.container__item .left__item .time__month {
  padding: 10px 20px;
  background-color: #006fee;
  color: #ffffff;
  font-weight: bold;
  min-width: 150px;
}
.container__item .left__item .time__day {
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
}
.container__item .right__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container__item .right__item .uppercase {
  text-transform: uppercase;
}
.container__item .right__item .news__title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container__item .right__item .news__title-text {
  font-weight: bold;
  font-size: 26px;
  color: #006fee;
}
.container__item .right__item .news__title-status {
  background-color: #F82A31;
  color: #ffffff;
  border-radius: 100%;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
}
.container__item .right__item .news__description {
  text-align: justify;
  font-size: 16px;
  color: #363B40;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.container__item .right__item .news__more {
  color: #F82A31;
}

.container__plan {
  padding: 10px 20px;
}

.wrap__layout {
  display: flex;
}
.wrap__layout .main__body {
  width: 100%;
  padding-left: 260px;
}
.container__table {
  width: 100%;
  position: relative;
}
.container__table header {
  border-bottom: 1px solid #E7ECF0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.container__table .table {
  border: 1px solid #E7ECF0;
  margin: 10px 0px;
  height: 250px;
  width: 100%;
  border-radius: 5px;
}
.container__table .table [class^=table__line] {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  text-align: center;
}
.container__table .table [class^=table__line]:not(:last-child) {
  border-bottom: 1px solid #E7ECF0;
}
.container__table .table .table__line__header {
  border-bottom: 1px solid #E7ECF0;
}
.container__table .table .table__line__header .header__item {
  padding: 10px;
  font-weight: 700;
  margin: 0 auto;
  width: 100%;
}
.container__table .table .table__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  overflow-y: auto;
}
.container__table .table .table__items .table__line__item {
  width: 100%;
}
.container__table .table .table__items .table__line__item .line__item {
  padding: 10px;
  width: 100%;
  color: #4E545B;
}

@media only screen and (max-width: 900px) {
  .container__login .box_intro {
    display: none;
  }
  .container__login .flex__layout {
    overflow: auto;
  }
  .container__login .set__size__header {
    animation: ani_header_intro_box 0.5s;
    position: relative;
  }
  @keyframes ani_header_intro_box {
    from {
      top: -200px;
    }
    to {
      top: 0px;
    }
  }
  .container__login .set__size__header > div {
    height: 100%;
  }
  .container__login .set__size__header > div:first-child {
    padding: 20px;
  }
  .container__login .set__size__header .img_logo_header {
    width: 100px;
  }
  .container__login .set__size__header .text_heading_prt {
    display: block !important;
  }
  .container__login .set__size__header .text_heading_prt .display_text {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
  }
  .container__login .set__size__header .img_intro {
    width: 100px;
    height: 100%;
    display: block !important;
  }
  .pageHome .container__top {
    grid-template-columns: 1fr;
  }
  .pageHome .container__top .container__info {
    padding: 0;
  }
  .pageHome .container__top .content {
    padding: 20px;
    font-size: 13px;
  }
  .pageHome .container__top .container__chart {
    padding: 0;
  }
  .pageHome .container__center .container__table .table {
    font-size: 10px;
  }
}
@media only screen and (max-width: 650px) {
  .container__login .set__size__header > div:first-child {
    padding: 5px;
  }
}
@media only screen and (max-width: 460px) {
  .container__login .set__size__header > div:first-child {
    padding: 2px;
  }
  .container__login .set__size__header .img_logo_header {
    width: 85px;
  }
  .container__login .set__size__header .text_name_sl {
    font-size: 13px;
  }
}
@media only screen and (max-width: 400px) {
  .container__login .set__size__header > div:first-child {
    padding: 0px;
  }
  .container__login .set__size__header .img_logo_header {
    width: 85px;
  }
  .container__login .set__size__header .text_name_sl {
    font-size: 12px;
  }
  .container__login .set__size__header .text_heading_prt .display_text {
    font-size: 16px;
    transform: translateX(20px);
  }
  .container__login .form_group {
    padding: 15px 20px !important;
  }
}
@media only screen and (max-width: 350px) {
  .container__login .set__size__header .img_logo_header {
    width: 75px;
  }
  .container__login .set__size__header .text_name_sl {
    font-size: 10px;
  }
  .container__login .set__size__header .text_heading_prt .display_text {
    font-size: 14px;
  }
  .container__login .set__size__header .img_intro {
    width: 70px;
  }
  .container__login .form_group {
    padding: 15px 15px !important;
  }
  .container__login .form_group .heading_text--login {
    font-size: 21px !important;
  }
}
@media only screen and (max-width: 340px) {
  .container__login .set__size__header .img_logo_header {
    width: 75px;
  }
  .container__login .set__size__header .text_name_sl {
    font-size: 10px;
  }
  .container__login .set__size__header .text_heading_prt .display_text {
    font-size: 14px;
  }
  .container__login .set__size__header .img_intro {
    width: 70px;
  }
  .container__login .form_group {
    padding: 15px 15px !important;
  }
  .container__login .form_group .heading_text--login {
    font-size: 18px !important;
  }
  .container__login .form_group .check__box--remb {
    font-size: 13px !important;
  }
  .container__login .form_group .btn_prm_password {
    font-size: 13px !important;
  }
}
@media only screen and (max-width: 300px) {
  .container__login .set__size__header .text_name_sl {
    font-size: 8px;
  }
  .container__login .form_group {
    padding: 8px !important;
  }
  .container__login .form_group .heading_text--login {
    font-size: 18px !important;
  }
}
.text-danger {
  color: #F82A31 !important;
}